{
    "openapi": "3.0.0",
    "info": {
        "title": "SAER301 API Documentation",
        "description": "Auto-generated API documentation for SAE301 project",
        "contact": {
            "email": "admin@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sae301.infuseting.fr/:8000",
            "description": "Production API Server"
        }
    ],
    "paths": {
        "/api/admin/clubs/pending": {
            "get": {
                "tags": [
                    "Admin - Club Approval"
                ],
                "summary": "Get pending clubs",
                "description": "Returns a list of clubs awaiting approval",
                "operationId": "71075f0fab5dd77f7551fe8e27c63bc7",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Club"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - requires accept-club permission"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/clubs/{id}/approve": {
            "post": {
                "tags": [
                    "Admin - Club Approval"
                ],
                "summary": "Approve a club",
                "description": "Approves a pending club and assigns club-manager role to creator",
                "operationId": "ffae7bff6d7f5b38cca5d39868d36349",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Club approved successfully"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Club not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/clubs/{id}/reject": {
            "post": {
                "tags": [
                    "Admin - Club Approval"
                ],
                "summary": "Reject a club",
                "description": "Rejects a pending club with optional reason",
                "operationId": "e39af848fa9c4747108b030fee54ed66",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Duplicate club"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Club rejected successfully"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Club not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "description": "Login and retrieve an API token",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEf123456..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register user",
                "description": "Register a new user and retrieve an API token",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEf123456..."
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The email has already been taken."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/leaderboard/races": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "Get list of races with leaderboards",
                "operationId": "cd8f151dedbd5208912312bb0049bb27",
                "responses": {
                    "200": {
                        "description": "List of races",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "race_id": {
                                                        "type": "integer"
                                                    },
                                                    "race_name": {
                                                        "type": "string"
                                                    },
                                                    "race_date_start": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/leaderboard/{raceId}/individual": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "Get individual leaderboard for a race",
                "operationId": "bd10a9b312c81bbb6a1064b87576f216",
                "parameters": [
                    {
                        "name": "raceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by user name or email",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Individual leaderboard results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LeaderboardUser"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/leaderboard/{raceId}/teams": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "Get team leaderboard for a race",
                "operationId": "1993d7e92028fd98d257ae924453a1a8",
                "parameters": [
                    {
                        "name": "raceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by team name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team leaderboard results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LeaderboardTeam"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/leaderboard/{raceId}/user/{userId}": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "Get specific user result in a race",
                "operationId": "606d6129c4a663a71deb96383ccfbc4e",
                "parameters": [
                    {
                        "name": "raceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/LeaderboardUser"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Result not found"
                    }
                }
            }
        },
        "/api/me/managed-races": {
            "get": {
                "tags": [
                    "Race Management"
                ],
                "summary": "Get races managed by the authenticated user",
                "description": "Returns a list of races where the user is an organizer, raid manager, or admin",
                "operationId": "getManagedRaces",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Race"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/races/{race}/participants": {
            "get": {
                "tags": [
                    "Race Management"
                ],
                "summary": "Get participants for a specific race",
                "description": "Returns a detailed list of participants and their registration status for a race managed by the user",
                "operationId": "getRaceParticipants",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "description": "ID of the race",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "registration_id": {
                                                "type": "integer"
                                            },
                                            "user_id": {
                                                "type": "integer",
                                                "nullable": true
                                            },
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "team_name": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "is_leader": {
                                                "type": "boolean"
                                            },
                                            "has_license": {
                                                "type": "boolean"
                                            },
                                            "has_pps": {
                                                "type": "boolean"
                                            },
                                            "docs_validated": {
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User does not manage this race"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/registrations/{registration}/validate-docs": {
            "patch": {
                "tags": [
                    "Race Management"
                ],
                "summary": "Validate or flag documents for a registration",
                "description": "Allows a manager to manually validate registration documents or flag them as invalid",
                "operationId": "validateRegistrationDocs",
                "parameters": [
                    {
                        "name": "registration",
                        "in": "path",
                        "description": "ID of the registration",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "confirmed",
                                            "missing_credentials"
                                        ],
                                        "example": "confirmed"
                                    },
                                    "admin_notes": {
                                        "type": "string",
                                        "example": "Document illisible, merci de renvoyer."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get authenticated user",
                "description": "Returns the currently authenticated user",
                "operationId": "getApiUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/users/search": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Search users",
                "description": "Returns users matching the search query for team creation",
                "operationId": "searchUsers",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query (name or email)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Query parameter is required"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/users/adherents": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get all adherents",
                "description": "Returns all users with adherent role",
                "operationId": "getAdherents",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/user/set-password": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Set user password",
                "description": "Sets the password for the authenticated user (typically for social login users)",
                "operationId": "d2c0f0aaa3f34b36378e84042b60d602",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "new-password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "new-password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/auth/{provider}/redirect": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Social Login Redirect",
                "description": "Redirects the user to the OAuth provider (google, strava)",
                "operationId": "9092f286b6771e3c94836b77bde93711",
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "The social provider",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "google"
                            ]
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to provider"
                    }
                }
            }
        },
        "/auth/{provider}/callback": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Social Login Callback",
                "description": "Handle the callback from the OAuth provider",
                "operationId": "bbb1507d0929f5cb8af8b8cc694b16f4",
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "The social provider",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "google"
                            ]
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to dashboard or login"
                    }
                }
            }
        },
        "/api/clubs": {
            "get": {
                "tags": [
                    "Clubs"
                ],
                "summary": "Get list of approved clubs",
                "description": "Returns a paginated list of approved clubs with optional search and filters",
                "operationId": "9801fd4de8b5507925aa5c5b3704aab3",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by club name or city",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Filter by city",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Club"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Clubs"
                ],
                "summary": "Create a new club",
                "description": "Creates a new club (pending approval)",
                "operationId": "e4e716fdc922ce7ed912221a3db204fd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "club_name",
                                    "club_street",
                                    "club_city",
                                    "club_postal_code"
                                ],
                                "properties": {
                                    "club_name": {
                                        "type": "string",
                                        "example": "Club Orienteering Paris"
                                    },
                                    "club_street": {
                                        "type": "string",
                                        "example": "123 Rue de la Paix"
                                    },
                                    "club_city": {
                                        "type": "string",
                                        "example": "Paris"
                                    },
                                    "club_postal_code": {
                                        "type": "string",
                                        "example": "75001"
                                    },
                                    "ffso_id": {
                                        "type": "string",
                                        "example": "FFCO-12345"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Club description"
                                    },
                                    "club_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Club created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Club"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/me/managed-clubs": {
            "get": {
                "tags": [
                    "Clubs"
                ],
                "summary": "Get clubs managed by the user",
                "description": "Returns a list of clubs where the user is an owner (creator) or manager",
                "operationId": "ef7439aaf1c4a5776720c208d86ac232",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Club"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{id}": {
            "get": {
                "tags": [
                    "Clubs"
                ],
                "summary": "Get club details",
                "description": "Returns club details. Members list is only visible to club members.",
                "operationId": "e469e87b3381918c3febaf97164b7945",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Club"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Club not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Clubs"
                ],
                "summary": "Update club details",
                "description": "Updates club details (club managers only)",
                "operationId": "652fb3c2a6172f3f8cf1044073afe8c3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "club_name": {
                                        "type": "string"
                                    },
                                    "club_street": {
                                        "type": "string"
                                    },
                                    "club_city": {
                                        "type": "string"
                                    },
                                    "club_postal_code": {
                                        "type": "string"
                                    },
                                    "ffso_id": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "club_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Club updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Club"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Club not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Clubs"
                ],
                "summary": "Delete a club",
                "description": "Deletes a club (admin or club manager only)",
                "operationId": "67d7c6ac76a047dc4926dfe18534e54e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Club deleted successfully"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Club not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{id}/join": {
            "post": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Request to join a club",
                "description": "Authenticated user requests to join a club",
                "operationId": "5c9af1d26cd034b0be9926a1271010eb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Join request sent successfully"
                    },
                    "400": {
                        "description": "Already a member or request pending"
                    },
                    "403": {
                        "description": "Club not approved"
                    },
                    "404": {
                        "description": "Club not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{clubId}/members/{userId}/approve": {
            "post": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Approve a join request",
                "description": "Club manager approves a pending join request",
                "operationId": "7323033a242943f62ca68972038f6845",
                "parameters": [
                    {
                        "name": "clubId",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Join request approved"
                    },
                    "403": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{clubId}/members/{userId}/reject": {
            "post": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Reject a join request",
                "description": "Club manager rejects a pending join request",
                "operationId": "afab0caa189c3143fe749f2bbdea977d",
                "parameters": [
                    {
                        "name": "clubId",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Join request rejected"
                    },
                    "403": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{clubId}/members/{userId}": {
            "delete": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Remove a member from club",
                "description": "Club manager removes a member from the club",
                "operationId": "8b2102327b059c02b8477e0f1ee512e5",
                "parameters": [
                    {
                        "name": "clubId",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member removed successfully"
                    },
                    "403": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "Member not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{id}/leave": {
            "post": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Leave a club",
                "description": "Authenticated user leaves a club they are a member of",
                "operationId": "9f9665a3312780b589de64d0ed341806",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Left club successfully"
                    },
                    "400": {
                        "description": "Cannot leave (e.g., last manager)"
                    },
                    "404": {
                        "description": "Club not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{clubId}/members/{userId}/promote": {
            "post": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Promote a member to manager",
                "description": "Club manager promotes a member to manager role",
                "operationId": "9bcdee061e8d5f6e95096e755fdc82ef",
                "parameters": [
                    {
                        "name": "clubId",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member promoted to manager"
                    },
                    "403": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "Member not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clubs/{clubId}/members/{userId}/demote": {
            "post": {
                "tags": [
                    "Club Members"
                ],
                "summary": "Demote a manager to member",
                "description": "Club manager demotes another manager to regular member",
                "operationId": "be54e5725af833ebc5b8f376ccdd636a",
                "parameters": [
                    {
                        "name": "clubId",
                        "in": "path",
                        "description": "Club ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manager demoted to member"
                    },
                    "403": {
                        "description": "Not authorized"
                    },
                    "400": {
                        "description": "Cannot demote last manager"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get user profile",
                "description": "Returns user profile data or renders profile edit view",
                "operationId": "getProfile",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Profile"
                ],
                "summary": "Delete user account",
                "description": "Deletes the authenticated user account",
                "operationId": "deleteProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "confirmation"
                                ],
                                "properties": {
                                    "confirmation": {
                                        "description": "Must match 'CONFIRMER' exactly",
                                        "type": "string",
                                        "example": "CONFIRMER"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Account deleted"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update user profile",
                "description": "Updates user profile data",
                "operationId": "updateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Runner bio"
                                    },
                                    "is_public": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "license_number": {
                                        "type": "string",
                                        "example": "LIC12345"
                                    },
                                    "photo": {
                                        "description": "Profile photo upload",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profile/complete": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Complete user profile",
                "description": "Completes the user profile with required information (DOB, Address, Phone, License/Medical)",
                "operationId": "completeProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "birth_date",
                                    "address",
                                    "phone"
                                ],
                                "properties": {
                                    "birth_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1990-01-01"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Main St, Paris, France"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+33612345678"
                                    },
                                    "license_number": {
                                        "type": "string",
                                        "example": "123456",
                                        "nullable": true
                                    },
                                    "medical_certificate_code": {
                                        "type": "string",
                                        "example": "PPS-123456",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/races/{race}/start-list": {
            "get": {
                "tags": [
                    "Races"
                ],
                "summary": "Generate PDF start-list",
                "description": "Download PDF with all validated race registrations",
                "operationId": "93dd5b4302cfc36ffd0d4134cd2302a8",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "description": "Race ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF file",
                        "content": {
                            "application/pdf": {}
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Must be race manager"
                    },
                    "404": {
                        "description": "Race not found"
                    }
                }
            }
        },
        "/races/{race}/check-in": {
            "post": {
                "tags": [
                    "Races"
                ],
                "summary": "Mark team as present",
                "description": "Scan QR code and mark team registration as present",
                "operationId": "be3127c3736163ec3ccf14cef1d8ac7c",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "description": "Race ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "equ_id",
                                    "reg_id"
                                ],
                                "properties": {
                                    "equ_id": {
                                        "description": "Team ID",
                                        "type": "integer"
                                    },
                                    "reg_id": {
                                        "description": "Registration ID",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Team marked as present",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "registration": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Must be race manager"
                    },
                    "404": {
                        "description": "Registration not found"
                    }
                }
            }
        },
        "/races/{race}/toggle-presence": {
            "post": {
                "tags": [
                    "Races"
                ],
                "summary": "Toggle participant presence",
                "description": "Toggle participant presence status",
                "operationId": "eb6fe4c089772711d85317477d96e9a6",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reg_id"
                                ],
                                "properties": {
                                    "reg_id": {
                                        "description": "Registration ID",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Presence toggled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "is_present": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Must be race manager"
                    },
                    "404": {
                        "description": "Registration not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/races/{race}/team-members/{registration}": {
            "get": {
                "tags": [
                    "Races"
                ],
                "summary": "Get team members for registration",
                "description": "Retrieves all team members with their registration status for a given registration",
                "operationId": "887c0c06e68ca8d069f04e35d8624dfd",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "description": "Race ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "registration",
                        "in": "path",
                        "description": "Registration ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team members retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "team": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Must be race manager"
                    },
                    "404": {
                        "description": "Registration not found"
                    }
                }
            }
        },
        "/races/{race}/registration/check": {
            "get": {
                "tags": [
                    "Race Registration"
                ],
                "summary": "Check registration eligibility",
                "description": "Checks if the authenticated user is eligible to register for a specific race",
                "operationId": "ff000b341856cfeba72dec51c8cebbd5",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "description": "Race ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Eligibility check result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "can_register": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "has_valid_licence": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "has_valid_pps": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "needs_credentials": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "licence_expiry_date": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2026-12-31"
                                        },
                                        "pps_expiry_date": {
                                            "type": "string",
                                            "format": "date",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Race not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/races/{race}/register": {
            "post": {
                "tags": [
                    "Race Registration"
                ],
                "summary": "Register for a race",
                "description": "Registers the authenticated user for a specific race",
                "operationId": "1ba54c3ca329557c6700fe3a1acfad2f",
                "parameters": [
                    {
                        "name": "race",
                        "in": "path",
                        "description": "Race ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Registration successful"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Validation failed or credentials missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Valid licence or PPS code required"
                                        },
                                        "needs_credentials": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden - Permission denied"
                    },
                    "404": {
                        "description": "Race not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/raids": {
            "get": {
                "tags": [
                    "Raids"
                ],
                "summary": "Get list of raids",
                "description": "Returns all raids with related data for client-side filtering",
                "operationId": "e98fa53564fcc9dc859d64ae5d5b94d7",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "raids": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Raid"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Raids"
                ],
                "summary": "Create a new raid",
                "description": "Creates a new raid event. Only responsable-club can create raids.",
                "operationId": "341d65a05c602741f0b9c8a18f9d1b99",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "raid_name",
                                    "clu_id",
                                    "raid_date_start",
                                    "raid_date_end",
                                    "ins_start_date",
                                    "ins_end_date",
                                    "raid_contact",
                                    "raid_street",
                                    "raid_city",
                                    "raid_postal_code",
                                    "raid_number"
                                ],
                                "properties": {
                                    "raid_name": {
                                        "type": "string",
                                        "example": "Mountain Adventure Raid"
                                    },
                                    "clu_id": {
                                        "description": "Club ID",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "raid_date_start": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-06-15T08:00:00Z"
                                    },
                                    "raid_date_end": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-06-17T18:00:00Z"
                                    },
                                    "ins_start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-01-01"
                                    },
                                    "ins_end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-05-31"
                                    },
                                    "raid_description": {
                                        "type": "string",
                                        "example": "A thrilling raid through mountains"
                                    },
                                    "raid_contact": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "contact@raid.com"
                                    },
                                    "raid_street": {
                                        "type": "string",
                                        "example": "1 Trail Road"
                                    },
                                    "raid_city": {
                                        "type": "string",
                                        "example": "Chamonix"
                                    },
                                    "raid_postal_code": {
                                        "type": "string",
                                        "example": "74400"
                                    },
                                    "raid_number": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "raid_site_url": {
                                        "type": "string",
                                        "format": "uri",
                                        "example": "https://raid.example.com"
                                    },
                                    "raid_image": {
                                        "description": "Image URL or identifier",
                                        "type": "string"
                                    },
                                    "adh_id": {
                                        "description": "Responsable Adhérent ID",
                                        "type": "integer"
                                    },
                                    "gestionnaire_raid_id": {
                                        "description": "User ID to assign as gestionnaire-raid",
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Raid created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Raid"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not a responsable-club"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/raids/{id}": {
            "get": {
                "tags": [
                    "Raids"
                ],
                "summary": "Get raid by ID",
                "description": "Returns a single raid",
                "operationId": "d413a012728d0473397a134f277d5902",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Raid"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Raid not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Raids"
                ],
                "summary": "Update raid",
                "description": "Updates an existing raid",
                "operationId": "992240f4a74a2e2176f21b7b11726080",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Raid"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Raid updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Raid"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Raid not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Raids"
                ],
                "summary": "Delete raid",
                "description": "Deletes a raid",
                "operationId": "7070b42480e1f4cc12835d4a83300f58",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Raid deleted successfully"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Raid not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/raids/{raid}/scanner": {
            "get": {
                "tags": [
                    "Raids"
                ],
                "summary": "Display QR code scanner page",
                "description": "Display the QR code scanner page for check-in",
                "operationId": "7378d7c5dc5853128fbe379d02d1315a",
                "parameters": [
                    {
                        "name": "raid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Scanner page displayed"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/raids/{raid}/check-in": {
            "post": {
                "tags": [
                    "Raids"
                ],
                "summary": "Check-in a team",
                "description": "Check-in a team via QR code scan",
                "operationId": "6a2fc2ced999e35fce8158f96c6bed70",
                "parameters": [
                    {
                        "name": "raid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "equ_id": {
                                        "type": "integer"
                                    },
                                    "reg_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Team checked in"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Registration not found"
                    }
                }
            }
        },
        "/raids/{raid}/start-list": {
            "get": {
                "tags": [
                    "Raids"
                ],
                "summary": "Generate start-list PDF",
                "description": "Generate start-list PDF for the raid",
                "operationId": "878cf6d2b5f63aa73ec15408bab54a23",
                "parameters": [
                    {
[...]
