stages:
  - deploy

deploy_production:
  stage: deploy
  tags:
    - devc3 g4
  script:
    # Définition du proxy unicaen
    - export HTTP_PROXY="http://proxy.unicaen.fr:3128"
    - export HTTPS_PROXY="http://proxy.unicaen.fr:3128"
    # Affichage de la révision
    - echo "Déploiement de $(git rev-parse --short HEAD)"
    # 1. On copie TOUT sans toucher aux propriétaires ni groupes
    - rsync -av --delete --no-owner --no-group --no-times --exclude=vendor --exclude=node_modules ./ --exclude=.env --exclude=.env.prod --exclude=database/database.sqlite /users/g4/laravel/
    # 2.pre On mémorise l'état du GIT pour plus tard
    - "if git rev-parse --short HEAD@{1}; then prev=`git rev-parse --short HEAD@{1}`; else prev=`git rev-parse --short HEAD@{0}`; fi"
    - "npm_changed=`git log --oneline --name-only $prev..HEAD@{0} -- package.json | wc -l`"
    - "comp_changed=`git log --oneline --name-only $prev..HEAD@{0} -- composer.json | wc -l`"
    - git log --oneline --name-only $prev..HEAD@{0}
    # Ajout de l'exception de sécurité pour git
    - git config --global --add safe.directory /users/g4/laravel
    # 2. On fait le déploiement Laravel en tant que git-runner
    - cd /users/g4/laravel
    - "if [ -d database/database.sqlite ]; then no_db=0; else no_db=1; fi"
    - "if [ $no_db -eq 1 ]; then touch database/database.sqlite; fi"
    # Note: .env is managed manually on the server.
    # It must be created once in /users/g4/laravel/ and will be preserved by rsync --exclude
    - "if [ ! -f .env ]; then echo \"ERROR: .env file missing on server! Please create it manually.\"; exit 1; fi"
    - "if [ $npm_changed -ne 0 ]; then npm install; fi"
    # Force composer install to repair potential vendor corruption and ensure state consistency
    - composer install --no-scripts --no-interaction --prefer-dist --optimize-autoloader
    - npm run build
    - php artisan migrate
    
    - php artisan config:cache
    # 3. On corrige les droits gitlab-runner:gitlab-runner -> g4:www-data
    - sudo chown -R g4:www-data /users/g4/laravel
  only:
    - stable
